### Create Spark session

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Data Analyst Pyspark Tutorial").getOrCreate()

from pyspark.sql.types import *

### Create Data Frame

##### *Read CSV with header*

In [71]:
#Import file with first row as heder

dfpostalcodes = spark.read.csv('./bronze/postalcodes.csv',header=True)

In [73]:
dfpostalcodes.show(5)

+--------+-----+-----+---------+---------+--------+---+
|    City|State|  Zip| Latitude|Longitude|Timezone|DST|
+--------+-----+-----+---------+---------+--------+---+
|    Cove|   AR|90085|34.398483|-94.39398|      -6|  1|
|Edgemont|   AR|72044|35.624351|-92.16056|      -6|  1|
|Sherburn|   MN|90100|43.660847|-94.74357|      -6|  1|
|  Lamont|   MI|90107|43.010337|-85.89754|      -5|  1|
|Richland|   IA|52585|41.194129|-91.98027|      -6|  1|
+--------+-----+-----+---------+---------+--------+---+
only showing top 5 rows

##### *Read file without header*

In [76]:
# import file raw

dfcsv = spark.read.csv("2019.csv")
dfcsv.show(3)

+-------+---+----------+----------+--------------------+--------------------+---+-------+--------+
|    _c0|_c1|       _c2|       _c3|                 _c4|                 _c5|_c6|    _c7|     _c8|
+-------+---+----------+----------+--------------------+--------------------+---+-------+--------+
|SO43701|  1|2019-07-01|      null|christy12@adventu...|Mountain-100 Silv...|  1|3399.99|271.9992|
|SO43704|  1|2019-07-01|Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|  1|3374.99|269.9992|
|SO43705|  1|2019-07-01| Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|  1|3399.99|271.9992|
+-------+---+----------+----------+--------------------+--------------------+---+-------+--------+
only showing top 3 rows

In [77]:
dfcsv.show(3,0)

+-------+---+----------+----------+-----------------------------+-----------------------+---+-------+--------+
|_c0    |_c1|_c2       |_c3       |_c4                          |_c5                    |_c6|_c7    |_c8     |
+-------+---+----------+----------+-----------------------------+-----------------------+---+-------+--------+
|SO43701|1  |2019-07-01|null      |christy12@adventure-works.com|Mountain-100 Silver, 44|1  |3399.99|271.9992|
|SO43704|1  |2019-07-01|Julio Ruiz|julio1@adventure-works.com   |Mountain-100 Black, 48 |1  |3374.99|269.9992|
|SO43705|1  |2019-07-01|Curtis Lu |curtis9@adventure-works.com  |Mountain-100 Silver, 38|1  |3399.99|271.9992|
+-------+---+----------+----------+-----------------------------+-----------------------+---+-------+--------+
only showing top 3 rows

##### *Read file poviding schema*

In [3]:
# Create the schema for the table
orderSchema = StructType([
    StructField("SalesOrderNumber", StringType()),
    StructField("SalesOrderLineNumber", IntegerType()),
    StructField("OrderDate", DateType()),
    StructField("CustomerName", StringType()),
    StructField("Email", StringType()),
    StructField("Item", StringType()),
    StructField("Quantity", IntegerType()),
    StructField("UnitPrice", FloatType()),
    StructField("Tax", FloatType())
    ])

In [4]:
type(orderSchema)

pyspark.sql.types.StructType

In [6]:
# Import file raw providing Schema

df = spark.read.format("csv").schema(orderSchema).load("2019.csv")
df.show(3)

+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|
+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+
|         SO43701|                   1|2019-07-01|        null|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|
|         SO43704|                   1|2019-07-01|  Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|
|         SO43705|                   1|2019-07-01|   Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|
+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+
only showing top 3 rows

### Exploring Data Frame

#### Getting info

In [7]:
df.count()

1201

In [8]:
df.select('CustomerName').distinct().count()

1200

#### Selecting columns

In [11]:
dfnew=df.select("CustomerName")
dfnew.show(5)

+--------------+
|  CustomerName|
+--------------+
|          null|
|    Julio Ruiz|
|     Curtis Lu|
|  Ruben Prasad|
|Albert Alvarez|
+--------------+
only showing top 5 rows

In [12]:
df.select("CustomerName","Email").show(5)

+--------------+--------------------+
|  CustomerName|               Email|
+--------------+--------------------+
|          null|christy12@adventu...|
|    Julio Ruiz|julio1@adventure-...|
|     Curtis Lu|curtis9@adventure...|
|  Ruben Prasad|ruben10@adventure...|
|Albert Alvarez|albert7@adventure...|
+--------------+--------------------+
only showing top 5 rows

In [13]:
df.select(df[1],df[2]).show(5)

+--------------------+----------+
|SalesOrderLineNumber| OrderDate|
+--------------------+----------+
|                   1|2019-07-01|
|                   1|2019-07-01|
|                   1|2019-07-01|
|                   1|2019-07-01|
|                   1|2019-07-01|
+--------------------+----------+
only showing top 5 rows

#### Describe Data Frame

In [14]:
df.describe().show()

+-------+----------------+--------------------+-------------+--------------------+--------------------+--------+------------------+------------------+
|summary|SalesOrderNumber|SalesOrderLineNumber| CustomerName|               Email|                Item|Quantity|         UnitPrice|               Tax|
+-------+----------------+--------------------+-------------+--------------------+--------------------+--------+------------------+------------------+
|  count|            1201|                1201|         1199|                1201|                1201|    1201|              1201|              1201|
|   mean|            null|                 1.0|         null|                null|                null|     1.0|3216.5863687100755|257.32691208190664|
| stddev|            null|                 0.0|         null|                null|                null|     0.0| 906.5658395192345| 72.52525271028958|
|    min|         SO43697|                   1|Aaron Collins|aaron11@adventure...|Mountain-100 Blac...|       1|          699.0982|           55.9279|
|    max|         SO45265|                   1|         null|zachary45@adventu...|    Road-650 Red, 62|       1|           3578.27|          286.2616|
+-------+----------------+--------------------+-------------+--------------------+--------------------+--------+------------------+------------------+

### Using functions

[Pyspark Function](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html)

#### Generating columns

**Introduction to withColumn link to this section**

The withColumn function in Spark allows you to add a new column or replace an existing column in a DataFrame. It provides a flexible and expressive way to modify or derive new columns based on existing ones. With withColumn , you can apply transformations, perform computations, or create complex expressions to augment your data.

**Adding a New Column link to this section**

To add a new column using withColumn , you need to specify the name of the new column and the transformation or computation you want to apply.

In [15]:
from pyspark.sql.functions import when,lit, col, current_timestamp, input_file_name

dfWithNewColumn = df.withColumn("lot", when(col("Quantity") >= 100, "a lot").otherwise("not a lot")) 

dfWithNewColumn.show(5,0)

+----------------+--------------------+----------+--------------+-----------------------------+-----------------------+--------+---------+--------+---------+
|SalesOrderNumber|SalesOrderLineNumber|OrderDate |CustomerName  |Email                        |Item                   |Quantity|UnitPrice|Tax     |lot      |
+----------------+--------------------+----------+--------------+-----------------------------+-----------------------+--------+---------+--------+---------+
|SO43701         |1                   |2019-07-01|null          |christy12@adventure-works.com|Mountain-100 Silver, 44|1       |3399.99  |271.9992|not a lot|
|SO43704         |1                   |2019-07-01|Julio Ruiz    |julio1@adventure-works.com   |Mountain-100 Black, 48 |1       |3374.99  |269.9992|not a lot|
|SO43705         |1                   |2019-07-01|Curtis Lu     |curtis9@adventure-works.com  |Mountain-100 Silver, 38|1       |3399.99  |271.9992|not a lot|
|SO43700         |1                   |2019-07-01|Ruben Prasad  |ruben10@adventure-works.com  |Road-650 Black, 62     |1       |699.0982 |55.9279 |not a lot|
|SO43703         |1                   |2019-07-01|Albert Alvarez|albert7@adventure-works.com  |Road-150 Red, 62       |1       |3578.27  |286.2616|not a lot|
+----------------+--------------------+----------+--------------+-----------------------------+-----------------------+--------+---------+--------+---------+
only showing top 5 rows

**Replacing an Existing Column link to this section**

withColumn can also be used to replace an existing column in a DataFrame

In [16]:
from pyspark.sql.functions import upper

dfWithUppercaseName = df.withColumn("CustomerName", upper(col("CustomerName")))
dfWithUppercaseName.show(3)

+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|
+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+
|         SO43701|                   1|2019-07-01|        null|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|
|         SO43704|                   1|2019-07-01|  JULIO RUIZ|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|
|         SO43705|                   1|2019-07-01|   CURTIS LU|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|
+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+
only showing top 3 rows

In [17]:
from pyspark.sql.functions import lower

dfWithLowercaseName = df.withColumn("CustomerName", lower(col("CustomerName")))
dfWithLowercaseName.show(3)

+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|
+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+
|         SO43701|                   1|2019-07-01|        null|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|
|         SO43704|                   1|2019-07-01|  julio ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|
|         SO43705|                   1|2019-07-01|   curtis lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|
+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+
only showing top 3 rows

In [18]:
from pyspark.sql.functions import initcap

dfWithInitcapcaseName = df.withColumn("CustomerName", initcap(col("CustomerName")))
dfWithInitcapcaseName.show(3)

+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|
+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+
|         SO43701|                   1|2019-07-01|        null|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|
|         SO43704|                   1|2019-07-01|  Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|
|         SO43705|                   1|2019-07-01|   Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|
+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+
only showing top 3 rows

#### Dropping columns

In [19]:
df_pyspark = df
df_pyspark = df_pyspark.drop("Email")
df_pyspark.show(5)

+----------------+--------------------+----------+--------------+--------------------+--------+---------+--------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|  CustomerName|                Item|Quantity|UnitPrice|     Tax|
+----------------+--------------------+----------+--------------+--------------------+--------+---------+--------+
|         SO43701|                   1|2019-07-01|          null|Mountain-100 Silv...|       1|  3399.99|271.9992|
|         SO43704|                   1|2019-07-01|    Julio Ruiz|Mountain-100 Blac...|       1|  3374.99|269.9992|
|         SO43705|                   1|2019-07-01|     Curtis Lu|Mountain-100 Silv...|       1|  3399.99|271.9992|
|         SO43700|                   1|2019-07-01|  Ruben Prasad|  Road-650 Black, 62|       1| 699.0982| 55.9279|
|         SO43703|                   1|2019-07-01|Albert Alvarez|    Road-150 Red, 62|       1|  3578.27|286.2616|
+----------------+--------------------+----------+--------------+--------------------+--------+---------+--------+
only showing top 5 rows

#### Using functions

[Pyspark Function](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html)

In [21]:
from pyspark.sql.functions import when,lit, col, current_timestamp, input_file_name

 # Add columns IsFlagged, CreatedTS and ModifiedTS
df = df.withColumn("FileName", input_file_name()) 

df.show(5,0)

+----------------+--------------------+----------+--------------+-----------------------------+-----------------------+--------+---------+--------+--------------------------------------+
|SalesOrderNumber|SalesOrderLineNumber|OrderDate |CustomerName  |Email                        |Item                   |Quantity|UnitPrice|Tax     |FileName                              |
+----------------+--------------------+----------+--------------+-----------------------------+-----------------------+--------+---------+--------+--------------------------------------+
|SO43701         |1                   |2019-07-01|null          |christy12@adventure-works.com|Mountain-100 Silver, 44|1       |3399.99  |271.9992|file:///C:/Users/gdardia/data/2019.csv|
|SO43704         |1                   |2019-07-01|Julio Ruiz    |julio1@adventure-works.com   |Mountain-100 Black, 48 |1       |3374.99  |269.9992|file:///C:/Users/gdardia/data/2019.csv|
|SO43705         |1                   |2019-07-01|Curtis Lu     |curtis9@adventure-works.com  |Mountain-100 Silver, 38|1       |3399.99  |271.9992|file:///C:/Users/gdardia/data/2019.csv|
|SO43700         |1                   |2019-07-01|Ruben Prasad  |ruben10@adventure-works.com  |Road-650 Black, 62     |1       |699.0982 |55.9279 |file:///C:/Users/gdardia/data/2019.csv|
|SO43703         |1                   |2019-07-01|Albert Alvarez|albert7@adventure-works.com  |Road-150 Red, 62       |1       |3578.27  |286.2616|file:///C:/Users/gdardia/data/2019.csv|
+----------------+--------------------+----------+--------------+-----------------------------+-----------------------+--------+---------+--------+--------------------------------------+
only showing top 5 rows

In [ ]:
#df =df.withColumn("CreatedTS", current_timestamp()).withColumn("ModifiedTS", current_timestamp())

In [23]:
# Add specific columns

df =df.withColumn("CreatedTS", current_timestamp())
df =df.withColumn("ModifiedTS", current_timestamp())

df.show(3,0)

+----------------+--------------------+----------+------------+-----------------------------+-----------------------+--------+---------+--------+--------------------------------------+-----------------------+-----------------------+
|SalesOrderNumber|SalesOrderLineNumber|OrderDate |CustomerName|Email                        |Item                   |Quantity|UnitPrice|Tax     |FileName                              |CreatedTS              |ModifiedTS             |
+----------------+--------------------+----------+------------+-----------------------------+-----------------------+--------+---------+--------+--------------------------------------+-----------------------+-----------------------+
|SO43701         |1                   |2019-07-01|null        |christy12@adventure-works.com|Mountain-100 Silver, 44|1       |3399.99  |271.9992|file:///C:/Users/gdardia/data/2019.csv|2024-04-03 18:03:52.383|2024-04-03 18:03:52.383|
|SO43704         |1                   |2019-07-01|Julio Ruiz  |julio1@adventure-works.com   |Mountain-100 Black, 48 |1       |3374.99  |269.9992|file:///C:/Users/gdardia/data/2019.csv|2024-04-03 18:03:52.383|2024-04-03 18:03:52.383|
|SO43705         |1                   |2019-07-01|Curtis Lu   |curtis9@adventure-works.com  |Mountain-100 Silver, 38|1       |3399.99  |271.9992|file:///C:/Users/gdardia/data/2019.csv|2024-04-03 18:03:52.383|2024-04-03 18:03:52.383|
+----------------+--------------------+----------+------------+-----------------------------+-----------------------+--------+---------+--------+--------------------------------------+-----------------------+-----------------------+
only showing top 3 rows

In [26]:
desired_column=df.columns[-5:]

In [28]:
type(desired_column)

list

In [29]:
print(desired_column)

['UnitPrice', 'Tax', 'FileName', 'CreatedTS', 'ModifiedTS']

In [30]:
df.select(df.columns[-5:]).show(3,0)

+---------+--------+--------------------------------------+-----------------------+-----------------------+
|UnitPrice|Tax     |FileName                              |CreatedTS              |ModifiedTS             |
+---------+--------+--------------------------------------+-----------------------+-----------------------+
|3399.99  |271.9992|file:///C:/Users/gdardia/data/2019.csv|2024-04-03 18:06:51.272|2024-04-03 18:06:51.272|
|3374.99  |269.9992|file:///C:/Users/gdardia/data/2019.csv|2024-04-03 18:06:51.272|2024-04-03 18:06:51.272|
|3399.99  |271.9992|file:///C:/Users/gdardia/data/2019.csv|2024-04-03 18:06:51.272|2024-04-03 18:06:51.272|
+---------+--------+--------------------------------------+-----------------------+-----------------------+
only showing top 3 rows

In [31]:
df.select("CustomerName").show(5,0)

+--------------+
|CustomerName  |
+--------------+
|null          |
|Julio Ruiz    |
|Curtis Lu     |
|Ruben Prasad  |
|Albert Alvarez|
+--------------+
only showing top 5 rows

In [ ]:
#df.where(df.CustomerName.isNotNull()).show(10,0)
#df.where(df.CustomerName.isNotNull()).count()

In [32]:
df.where(df.CustomerName.isNull()).show(10,0)

+----------------+--------------------+----------+------------+-----------------------------+-----------------------+--------+---------+--------+--------------------------------------+----------------------+----------------------+
|SalesOrderNumber|SalesOrderLineNumber|OrderDate |CustomerName|Email                        |Item                   |Quantity|UnitPrice|Tax     |FileName                              |CreatedTS             |ModifiedTS            |
+----------------+--------------------+----------+------------+-----------------------------+-----------------------+--------+---------+--------+--------------------------------------+----------------------+----------------------+
|SO43701         |1                   |2019-07-01|null        |christy12@adventure-works.com|Mountain-100 Silver, 44|1       |3399.99  |271.9992|file:///C:/Users/gdardia/data/2019.csv|2024-04-03 18:08:25.42|2024-04-03 18:08:25.42|
|SO43710         |1                   |2019-07-02|null        |katrina20@adventure-works.com|Road-150 Red, 56       |1       |3578.27  |286.2616|file:///C:/Users/gdardia/data/2019.csv|2024-04-03 18:08:25.42|2024-04-03 18:08:25.42|
+----------------+--------------------+----------+------------+-----------------------------+-----------------------+--------+---------+--------+--------------------------------------+----------------------+----------------------+

In [33]:
df.where(df.CustomerName.isNull()).count()

2

In [34]:
df.filter(df.CustomerName == "").show(1)
df.filter(df.CustomerName == "").count()

+----------------+--------------------+---------+------------+-----+----+--------+---------+---+--------+---------+----------+
|SalesOrderNumber|SalesOrderLineNumber|OrderDate|CustomerName|Email|Item|Quantity|UnitPrice|Tax|FileName|CreatedTS|ModifiedTS|
+----------------+--------------------+---------+------------+-----+----+--------+---------+---+--------+---------+----------+
+----------------+--------------------+---------+------------+-----+----+--------+---------+---+--------+---------+----------+

0

In [ ]:
df.filter(df.CustomerName != "").show(1)
df.filter(df.CustomerName != "").count()

In [36]:
from pyspark.sql.functions import when,lit, col, current_timestamp, input_file_name

# Update CustomerName to "Unknown" if CustomerName null or empty
dfnew2 = df.withColumn("CustomerName", when(col("CustomerName").isNull(),lit("Unknown")).otherwise(col("CustomerName")))

dfnew2.show(3)

+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43701|                   1|2019-07-01|     Unknown|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43704|                   1|2019-07-01|  Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43705|                   1|2019-07-01|   Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
+----------------+--------------------+----------+------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 3 rows

### CLEANING DATA

#### Handle null values

In [37]:
df.show(5)

+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|  CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43701|                   1|2019-07-01|          null|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43704|                   1|2019-07-01|    Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43705|                   1|2019-07-01|     Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43700|                   1|2019-07-01|  Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43703|                   1|2019-07-01|Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [38]:
# Drop rows with null values in the "age" column
df_filtered = df.filter(col("CustomerName").isNotNull())

# Show the resulting DataFrame
df_filtered.show(5)

+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|  CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43704|                   1|2019-07-01|    Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43705|                   1|2019-07-01|     Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43700|                   1|2019-07-01|  Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43703|                   1|2019-07-01|Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43697|                   1|2019-07-01|   Cole Watson|cole1@adventure-w...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 5 rows

#### Handle missing values

In [39]:
df_pyspark = df
df_pyspark.show(10)

+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|    CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43701|                   1|2019-07-01|            null|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43704|                   1|2019-07-01|      Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43705|                   1|2019-07-01|       Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43700|                   1|2019-07-01|    Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43703|                   1|2019-07-01|  Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43697|                   1|2019-07-01|     Cole Watson|cole1@adventure-w...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43699|                   1|2019-07-01|   Sydney Wright|sydney61@adventur...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43702|                   1|2019-07-01|     Colin Anand|colin45@adventure...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43698|                   1|2019-07-01|Rachael Martinez|rachael16@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43707|                   1|2019-07-02|      Emma Brown|emma3@adventure-w...|    Road-150 Red, 48|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 10 rows

#### Remove null value

In [40]:
df_pyspark.na.drop().show(10)

+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|    CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43704|                   1|2019-07-01|      Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43705|                   1|2019-07-01|       Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43700|                   1|2019-07-01|    Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43703|                   1|2019-07-01|  Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43697|                   1|2019-07-01|     Cole Watson|cole1@adventure-w...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43699|                   1|2019-07-01|   Sydney Wright|sydney61@adventur...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43702|                   1|2019-07-01|     Colin Anand|colin45@adventure...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43698|                   1|2019-07-01|Rachael Martinez|rachael16@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43707|                   1|2019-07-02|      Emma Brown|emma3@adventure-w...|    Road-150 Red, 48|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43711|                   1|2019-07-02|Courtney Edwards|courtney1@adventu...|    Road-150 Red, 56|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 10 rows

#### Filling null values

In [41]:
df_pyspark.na.fill("Missing").show()

+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|    CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43701|                   1|2019-07-01|         Missing|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43704|                   1|2019-07-01|      Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43705|                   1|2019-07-01|       Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43700|                   1|2019-07-01|    Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43703|                   1|2019-07-01|  Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43697|                   1|2019-07-01|     Cole Watson|cole1@adventure-w...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43699|                   1|2019-07-01|   Sydney Wright|sydney61@adventur...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43702|                   1|2019-07-01|     Colin Anand|colin45@adventure...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43698|                   1|2019-07-01|Rachael Martinez|rachael16@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43707|                   1|2019-07-02|      Emma Brown|emma3@adventure-w...|    Road-150 Red, 48|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43711|                   1|2019-07-02|Courtney Edwards|courtney1@adventu...|    Road-150 Red, 56|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43706|                   1|2019-07-02|    Edward Brown|edward26@adventur...|    Road-150 Red, 48|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43708|                   1|2019-07-02|       Brad Deng|brad2@adventure-w...|    Road-650 Red, 52|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43709|                   1|2019-07-02|       Martha Xu|martha12@adventur...|    Road-150 Red, 52|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43710|                   1|2019-07-02|         Missing|katrina20@adventu...|    Road-150 Red, 56|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43712|                   1|2019-07-02|            null|abigail73@adventu...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43720|                   1|2019-07-03| Melanie Sanchez|melanie47@adventu...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43721|                   1|2019-07-03|       Louis Xie|louis20@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43714|                   1|2019-07-03|  Latasha Alonso|latasha8@adventur...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43715|                   1|2019-07-03|      Warren Jai|warren42@adventur...|    Road-150 Red, 56|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 20 rows

### USING SQL

In [42]:
df.show(10)

+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|    CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43701|                   1|2019-07-01|            null|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43704|                   1|2019-07-01|      Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43705|                   1|2019-07-01|       Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43700|                   1|2019-07-01|    Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43703|                   1|2019-07-01|  Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43697|                   1|2019-07-01|     Cole Watson|cole1@adventure-w...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43699|                   1|2019-07-01|   Sydney Wright|sydney61@adventur...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43702|                   1|2019-07-01|     Colin Anand|colin45@adventure...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43698|                   1|2019-07-01|Rachael Martinez|rachael16@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43707|                   1|2019-07-02|      Emma Brown|emma3@adventure-w...|    Road-150 Red, 48|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 10 rows

In [43]:
## Assuming you have a PySpark DataFrame named "df"
df.createOrReplaceTempView("customerdata")

In [44]:
# SQL Select query
spark.sql("SELECT *  FROM customerdata").show(5)

+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|  CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43701|                   1|2019-07-01|          null|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:17:...|2024-04-03 18:17:...|
|         SO43704|                   1|2019-07-01|    Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:17:...|2024-04-03 18:17:...|
|         SO43705|                   1|2019-07-01|     Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:17:...|2024-04-03 18:17:...|
|         SO43700|                   1|2019-07-01|  Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:17:...|2024-04-03 18:17:...|
|         SO43703|                   1|2019-07-01|Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:17:...|2024-04-03 18:17:...|
+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 5 rows

##### FULL COMPARISON

In [45]:
# Import
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [46]:
                  
# Create DataFrame
df = spark.read \
          .option("header",True) \
          .csv("./simple-zipcodes.csv")
df.printSchema()
df.show()

root
 |-- RecordNumber: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- State: string (nullable = true)

+------------+-------+-------------------+-------+-----+
|RecordNumber|Country|               City|Zipcode|State|
+------------+-------+-------------------+-------+-----+
|           1|     US|        PARC PARQUE|    704|   PR|
|           2|     US|PASEO COSTA DEL SUR|    704|   PR|
|          10|     US|       BDA SAN LUIS|    709|   PR|
|       49347|     US|               HOLT|  32564|   FL|
|       49348|     US|          HOMOSASSA|  34487|   FL|
|       61391|     US|  CINGULAR WIRELESS|  76166|   TX|
|       61392|     US|         FORT WORTH|  76177|   TX|
|       61393|     US|           FT WORTH|  76177|   TX|
|       54356|     US|        SPRUCE PINE|  35585|   AL|
|       76511|     US|           ASH HILL|  27007|   NC|
|           4|     US|    URB EUGENE RICE|    704|   PR|
|       39827|     US|               MESA|  85209|   AZ|
|       39828|     US|               MESA|  85210|   AZ|
|       49345|     US|           HILLIARD|  32046|   FL|
|       49346|     US|             HOLDER|  34445|   FL|
|           3|     US|      SECT LANAUSSE|    704|   PR|
|       54354|     US|      SPRING GARDEN|  36275|   AL|
|       54355|     US|        SPRINGVILLE|  35146|   AL|
|       76512|     US|           ASHEBORO|  27203|   NC|
|       76513|     US|           ASHEBORO|  27204|   NC|
+------------+-------+-------------------+-------+-----+

In [47]:
# Create SQL table
spark.read \
          .option("header",True) \
          .csv("./simple-zipcodes.csv") \
          .createOrReplaceTempView("Zipcodes")

In [48]:
# Select query
df.select("country","city","zipcode","state").show(5)

spark.sql("SELECT country, city, zipcode, state FROM ZIPCODES").show(5)

+-------+-------------------+-------+-----+
|country|               city|zipcode|state|
+-------+-------------------+-------+-----+
|     US|        PARC PARQUE|    704|   PR|
|     US|PASEO COSTA DEL SUR|    704|   PR|
|     US|       BDA SAN LUIS|    709|   PR|
|     US|               HOLT|  32564|   FL|
|     US|          HOMOSASSA|  34487|   FL|
+-------+-------------------+-------+-----+
only showing top 5 rows

+-------+-------------------+-------+-----+
|country|               city|zipcode|state|
+-------+-------------------+-------+-----+
|     US|        PARC PARQUE|    704|   PR|
|     US|PASEO COSTA DEL SUR|    704|   PR|
|     US|       BDA SAN LUIS|    709|   PR|
|     US|               HOLT|  32564|   FL|
|     US|          HOMOSASSA|  34487|   FL|
+-------+-------------------+-------+-----+
only showing top 5 rows

In [49]:
# where
df.select("country","city","zipcode","state") \
  .where("state == 'AZ'") \
  .show(5)

spark.sql(""" SELECT country, city, zipcode, state FROM ZIPCODES 
          WHERE state = 'AZ' """) \
     .show(5)

+-------+----+-------+-----+
|country|city|zipcode|state|
+-------+----+-------+-----+
|     US|MESA|  85209|   AZ|
|     US|MESA|  85210|   AZ|
+-------+----+-------+-----+

+-------+----+-------+-----+
|country|city|zipcode|state|
+-------+----+-------+-----+
|     US|MESA|  85209|   AZ|
|     US|MESA|  85210|   AZ|
+-------+----+-------+-----+

In [50]:
# sorting
df.select("country","city","zipcode","state") \
  .where("state in ('PR','AZ','FL')") \
  .orderBy("state") \
  .show(10)
  
spark.sql(""" SELECT  country, city, zipcode, state FROM ZIPCODES 
          WHERE state in ('PR','AZ','FL') order by state """) \
     .show(10)

+-------+-------------------+-------+-----+
|country|               city|zipcode|state|
+-------+-------------------+-------+-----+
|     US|               MESA|  85209|   AZ|
|     US|               MESA|  85210|   AZ|
|     US|               HOLT|  32564|   FL|
|     US|          HOMOSASSA|  34487|   FL|
|     US|           HILLIARD|  32046|   FL|
|     US|             HOLDER|  34445|   FL|
|     US|        PARC PARQUE|    704|   PR|
|     US|PASEO COSTA DEL SUR|    704|   PR|
|     US|       BDA SAN LUIS|    709|   PR|
|     US|    URB EUGENE RICE|    704|   PR|
+-------+-------------------+-------+-----+
only showing top 10 rows

+-------+-------------------+-------+-----+
|country|               city|zipcode|state|
+-------+-------------------+-------+-----+
|     US|               MESA|  85209|   AZ|
|     US|               MESA|  85210|   AZ|
|     US|               HOLT|  32564|   FL|
|     US|          HOMOSASSA|  34487|   FL|
|     US|           HILLIARD|  32046|   FL|
|     US|             HOLDER|  34445|   FL|
|     US|        PARC PARQUE|    704|   PR|
|     US|PASEO COSTA DEL SUR|    704|   PR|
|     US|       BDA SAN LUIS|    709|   PR|
|     US|    URB EUGENE RICE|    704|   PR|
+-------+-------------------+-------+-----+
only showing top 10 rows

In [51]:
# grouping
df.groupBy("state").count() \
  .show()

spark.sql(""" SELECT state, count(*) as count FROM ZIPCODES 
          GROUP BY state""") \
     .show()

+-----+-----+
|state|count|
+-----+-----+
|   AZ|    2|
|   NC|    3|
|   AL|    3|
|   TX|    3|
|   FL|    4|
|   PR|    5|
+-----+-----+

+-----+-----+
|state|count|
+-----+-----+
|   AZ|    2|
|   NC|    3|
|   AL|    3|
|   TX|    3|
|   FL|    4|
|   PR|    5|
+-----+-----+

### Query catalog

In [52]:
spark.catalog.currentCatalog()

'spark_catalog'

In [53]:
spark.catalog.currentDatabase()

'default'

In [54]:
spark.catalog.listCatalogs()

[CatalogMetadata(name='spark_catalog', description=None)]

In [55]:
spark.catalog.listDatabases()

[Database(name='default', catalog='spark_catalog', description='default database', locationUri='file:/C:/Users/gdardia/data/spark-warehouse')]

In [56]:
spark.catalog.listTables("default")

[Table(name='customerdata', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='Zipcodes', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

### WRITING DATA

In [ ]:
# Write the DataFrame to a CSV file
#output_path = "2019_revised.csv"

import sys
import os

#os.environ['HADOOP_HOME'] = "C:/Mine/Spark/hadoop-2.6.0"
#sys.path.append("C:/Mine/Spark/hadoop-2.6.0/bin")


df=dfpostalcodes

df.write.csv('./output.csv')

#df.write.format("csv").mode("append").save("./mycsv/mycsv.csv")

In [ ]:
df.write.format("csv").mode("append").save("./mycsv/mycsv.csv")