### Create Spark session

In [1]:
!pip install pyspark
! pip install azure.storage.blob
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Data Analyst Pyspark Tutorial").getOrCreate()

from pyspark.sql.types import *

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Collecting azure.storage.blob
  Downloading azure_storage_blob-12.25.1-py3-none-any.whl.metadata (26 kB)
Collecting azure-core>=1.30.0 (from azure.storage.blob)
  Downloading azure_core-1.35.0-py3-none-any.whl.metadata (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.4/44.4 kB 1.7 MB/s eta 0:00:00
Requirement already satisfied: cryptography>=2.1.4 in /usr/local/lib/python3.11/dist-packages (from azure.storage.blob) (43.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from azure.storage.blob) (4.14.0)
Collecting isodate>=0.6.1 (from azure.storage.blob)
  Downloading isodate-0.7.2-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: requests>=2.21.0 in /usr/local/lib/python3.11/dist-packages (from azure-core>=1.30.0->azure.storage.blob) (2.32.3)
Requirement already satisfied: six>=1.11.0 in /usr/local/lib/python3.11/dist-packages (from azure-core>=1.30.0->azure.storage.blob) (1.17.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.11/dist-packages (from cryptography>=2.1.4->azure.storage.blob) (1.17.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.11/dist-packages (from cffi>=1.12->cryptography>=2.1.4->azure.storage.blob) (2.22)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.21.0->azure-core>=1.30.0->azure.storage.blob) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.21.0->azure-core>=1.30.0->azure.storage.blob) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.21.0->azure-core>=1.30.0->azure.storage.blob) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.21.0->azure-core>=1.30.0->azure.storage.blob) (2025.6.15)
Downloading azure_storage_blob-12.25.1-py3-none-any.whl (406 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 407.0/407.0 kB 9.2 MB/s eta 0:00:00
Downloading azure_core-1.35.0-py3-none-any.whl (210 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 210.7/210.7 kB 13.6 MB/s eta 0:00:00
Downloading isodate-0.7.2-py3-none-any.whl (22 kB)
Installing collected packages: isodate, azure-core, azure.storage.blob
Successfully installed azure-core-1.35.0 azure.storage.blob-12.25.1 isodate-0.7.2

### Create Data Frame

##### *Read CSV with header*

##### *Read file without header*

In [ ]:
# import file raw

dfcsv = spark.read.options(Header=True).csv("postalcodes.csv")

dfcsv.show(10)

+------------+-----+-----+---------+---------+--------+---+
|        City|State|  Zip| Latitude|Longitude|Timezone|DST|
+------------+-----+-----+---------+---------+--------+---+
|        Cove|   AR|90085|34.398483|-94.39398|      -6|  1|
|    Edgemont|   AR|72044|35.624351|-92.16056|      -6|  1|
|    Sherburn|   MN|90100|43.660847|-94.74357|      -6|  1|
|      Lamont|   MI|90107|43.010337|-85.89754|      -5|  1|
|    Richland|   IA|52585|41.194129|-91.98027|      -6|  1|
|   Cannelton|   IN|90108|37.934311|-86.67821|      -5|  0|
|     Zeeland|   MI|90110|42.829252|-85.99621|      -5|  1|
|   Covington|   MI|49919|46.559834|-88.52201|      -5|  1|
|Cedar Rapids|   IA|90113| 41.97545|-91.65912|      -6|  1|
|      Higdon|   AL|90119|34.831242|-85.61564|      -6|  1|
+------------+-----+-----+---------+---------+--------+---+
only showing top 10 rows

In [ ]:
dfcsv = spark.read.csv("postalcodes.csv")

dfcsv.show(10)

+------------+-----+-----+---------+---------+--------+---+
|         _c0|  _c1|  _c2|      _c3|      _c4|     _c5|_c6|
+------------+-----+-----+---------+---------+--------+---+
|        City|State|  Zip| Latitude|Longitude|Timezone|DST|
|        Cove|   AR|90085|34.398483|-94.39398|      -6|  1|
|    Edgemont|   AR|72044|35.624351|-92.16056|      -6|  1|
|    Sherburn|   MN|90100|43.660847|-94.74357|      -6|  1|
|      Lamont|   MI|90107|43.010337|-85.89754|      -5|  1|
|    Richland|   IA|52585|41.194129|-91.98027|      -6|  1|
|   Cannelton|   IN|90108|37.934311|-86.67821|      -5|  0|
|     Zeeland|   MI|90110|42.829252|-85.99621|      -5|  1|
|   Covington|   MI|49919|46.559834|-88.52201|      -5|  1|
|Cedar Rapids|   IA|90113| 41.97545|-91.65912|      -6|  1|
+------------+-----+-----+---------+---------+--------+---+
only showing top 10 rows

In [ ]:
dfcsv.show(3,0)

+--------+-----+-----+---------+---------+--------+---+
|_c0     |_c1  |_c2  |_c3      |_c4      |_c5     |_c6|
+--------+-----+-----+---------+---------+--------+---+
|City    |State|Zip  |Latitude |Longitude|Timezone|DST|
|Cove    |AR   |90085|34.398483|-94.39398|-6      |1  |
|Edgemont|AR   |72044|35.624351|-92.16056|-6      |1  |
+--------+-----+-----+---------+---------+--------+---+
only showing top 3 rows

In [ ]:
# prompt: schema for dfcsv

dfcsv.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [ ]:
orderSchema = StructType([
    StructField("City", StringType()),
    StructField("State", StringType()),
    StructField("Zip", StringType()),
    StructField("Latitude", StringType()),
    StructField("Longitude", StringType()),
    StructField("Timezone", StringType()),
    StructField("DST", StringType())
    ])

##### *Read file poviding schema*

In [ ]:
# Create the schema for the table
orderSchema = StructType([
    StructField("SalesOrderNumber", StringType()),
    StructField("SalesOrderLineNumber", IntegerType()),
    StructField("OrderDate", DateType()),
    StructField("CustomerName", StringType()),
    StructField("Email", StringType()),
    StructField("Item", StringType()),
    StructField("Quantity", IntegerType()),
    StructField("UnitPrice", FloatType()),
    StructField("Tax", FloatType())
    ])

In [ ]:
type(orderSchema)

pyspark.sql.types.StructType

In [ ]:
# Import file raw providing Schema

df = spark.read.format("csv").options(Header=True).load("postalcodes.csv")
df.show(30)

+-------------+-----+-----+---------+----------+--------+---+
|         City|State|  Zip| Latitude| Longitude|Timezone|DST|
+-------------+-----+-----+---------+----------+--------+---+
|         Cove|   AR|90085|34.398483| -94.39398|      -6|  1|
|     Edgemont|   AR|72044|35.624351| -92.16056|      -6|  1|
|     Sherburn|   MN|90100|43.660847| -94.74357|      -6|  1|
|       Lamont|   MI|90107|43.010337| -85.89754|      -5|  1|
|     Richland|   IA|52585|41.194129| -91.98027|      -6|  1|
|    Cannelton|   IN|90108|37.934311| -86.67821|      -5|  0|
|      Zeeland|   MI|90110|42.829252| -85.99621|      -5|  1|
|    Covington|   MI|49919|46.559834| -88.52201|      -5|  1|
| Cedar Rapids|   IA|90113| 41.97545| -91.65912|      -6|  1|
|       Higdon|   AL|90119|34.831242| -85.61564|      -6|  1|
| Midland City|   AL|36350|31.319083| -85.48718|      -6|  1|
|     Columbia|   TN|90124|35.619784| -87.03565|      -6|  1|
|  Muses Mills|   KY|90126|  38.3481|-83.718626|      -5|  1|
|    Annandale|   MN|55302|45.246631| -94.11692|      -6|  1|
|   Greenville|   SC|90128|34.825592| -82.34099|      -5|  1|
|      Atlanta|   GA|90129|33.844371| -84.47405|      -5|  1|
| Saint George|   GA|90130|30.518903| -82.08063|      -5|  1|
|       Shiloh|   GA|90133|32.803518| -84.69384|      -5|  1|
|   Frackville|   PA|90134|40.649109|-76.503339|      -5|  1|
|  Pipersville|   PA|90136|40.426391| -75.11842|      -5|  1|
|   Washington|   DC|90141|38.893311|-77.014647|      -5|  1|
|        Depew|   NY|90142|42.904958|  -78.7006|      -5|  1|
|   Pittsburgh|   PA|90143|40.434436|-80.024817|      -5|  1|
|Star Junction|   PA|90145|40.062849| -79.76338|      -5|  1|
| Delray Beach|   FL|90146|26.452473| -80.16509|      -5|  1|
|         Avon|   NC|90147|35.354252| -75.50417|      -5|  1|
|   Chesapeake|   VA|90152|  36.7085|-76.278531|      -5|  1|
|   Blacksburg|   VA|90154|37.174227|-80.395698|      -5|  1|
|      Beverly|   WV|90156|38.827205| -79.89057|      -5|  1|
|    Watertown|   MA|90158|42.371296| -71.18196|      -5|  1|
+-------------+-----+-----+---------+----------+--------+---+
only showing top 30 rows

### Exploring Data Frame

#### Getting info

In [ ]:
df.count()

43191

In [ ]:
dfstate = df.select('State')


dfstate.show(5)

df.show(5)

+-----+
|State|
+-----+
|   AR|
|   AR|
|   MN|
|   MI|
|   IA|
+-----+
only showing top 5 rows

+--------+-----+-----+---------+---------+--------+---+
|    City|State|  Zip| Latitude|Longitude|Timezone|DST|
+--------+-----+-----+---------+---------+--------+---+
|    Cove|   AR|90085|34.398483|-94.39398|      -6|  1|
|Edgemont|   AR|72044|35.624351|-92.16056|      -6|  1|
|Sherburn|   MN|90100|43.660847|-94.74357|      -6|  1|
|  Lamont|   MI|90107|43.010337|-85.89754|      -5|  1|
|Richland|   IA|52585|41.194129|-91.98027|      -6|  1|
+--------+-----+-----+---------+---------+--------+---+
only showing top 5 rows

In [ ]:
dfdistinctstate= df.select('state').distinct().count()
dfdistinctstate

54

In [ ]:
df.createOrReplaceTempView("postalcodes")

result_df=spark.sql("select State, count(*) as cnt from postalcodes group by State")

result_df.show(5)

+-----+----+
|State| cnt|
+-----+----+
|   SC| 554|
|   AZ| 538|
|   LA| 755|
|   MN|1054|
|   NJ| 762|
+-----+----+
only showing top 5 rows

In [ ]:
# prompt: select all columns from postalcodes table

from pyspark.sql import SparkSession
from pyspark.sql.types import *
import pandas as pd

# Create Spark session
!pip install pyspark
spark = SparkSession.builder.appName("Data Analyst Pyspark Tutorial").getOrCreate()

# Read the CSV file into a DataFrame
dfcsv = spark.read.csv("postalcodes.csv", header=True, inferSchema=True)

# Create a temporary view
dfcsv.createOrReplaceTempView("postalcodes")

# Select all columns from the postalcodes table
all_columns_df = spark.sql("SELECT * FROM postalcodes")

# Show the result
all_columns_df.show()

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
+------------+-----+-----+---------+----------+--------+---+
|        City|State|  Zip| Latitude| Longitude|Timezone|DST|
+------------+-----+-----+---------+----------+--------+---+
|        Cove|   AR|90085|34.398483| -94.39398|      -6|  1|
|    Edgemont|   AR|72044|35.624351| -92.16056|      -6|  1|
|    Sherburn|   MN|90100|43.660847| -94.74357|      -6|  1|
|      Lamont|   MI|90107|43.010337| -85.89754|      -5|  1|
|    Richland|   IA|52585|41.194129| -91.98027|      -6|  1|
|   Cannelton|   IN|90108|37.934311| -86.67821|      -5|  0|
|     Zeeland|   MI|90110|42.829252| -85.99621|      -5|  1|
|   Covington|   MI|49919|46.559834| -88.52201|      -5|  1|
|Cedar Rapids|   IA|90113| 41.97545| -91.65912|      -6|  1|
|      Higdon|   AL|90119|34.831242| -85.61564|      -6|  1|
|Midland City|   AL|36350|31.319083| -85.48718|      -6|  1|
|    Columbia|   TN|90124|35.619784| -87.03565|      -6|  1|
| Muses Mills|   KY|90126|  38.3481|-83.718626|      -5|  1|
|   Annandale|   MN|55302|45.246631| -94.11692|      -6|  1|
|  Greenville|   SC|90128|34.825592| -82.34099|      -5|  1|
|     Atlanta|   GA|90129|33.844371| -84.47405|      -5|  1|
|Saint George|   GA|90130|30.518903| -82.08063|      -5|  1|
|      Shiloh|   GA|90133|32.803518| -84.69384|      -5|  1|
|  Frackville|   PA|90134|40.649109|-76.503339|      -5|  1|
| Pipersville|   PA|90136|40.426391| -75.11842|      -5|  1|
+------------+-----+-----+---------+----------+--------+---+
only showing top 20 rows

#### Selecting columns

In [ ]:
df.select(df[1],df[2]).show(5)

+-----+-----+
|State|  Zip|
+-----+-----+
|   AR|90085|
|   AR|72044|
|   MN|90100|
|   MI|90107|
|   IA|52585|
+-----+-----+
only showing top 5 rows

#### Describe Data Frame

In [ ]:
df.describe().show()

+-------+----------+-----+-----------------+-----------------+------------------+------------------+-------------------+
|summary|      City|State|              Zip|         Latitude|         Longitude|          Timezone|                DST|
+-------+----------+-----+-----------------+-----------------+------------------+------------------+-------------------+
|  count|     43191|43191|            43191|            43191|             43191|             43191|              43191|
|   mean|      NULL| NULL|49605.28133175893|38.50296645893744|-90.93793709960308|-5.842143039059064| 0.9594822995531477|
| stddev|      NULL| NULL|28046.55767852084|5.395779013062673|15.356758118054104|1.0164852258682984|0.19717230158797316|
|    min|Aaronsburg|   AK|            10001|        -7.209975|        -100.00991|               -10|                  0|
|    max|    Zwolle|   WY|            99950|        71.299525|         -99.99968|                -9|                  1|
+-------+----------+-----+-----------------+-----------------+------------------+------------------+-------------------+

### Using functions

[Pyspark Function](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html)

#### Generating columns

**Introduction to withColumn link to this section**

The withColumn function in Spark allows you to add a new column or replace an existing column in a DataFrame. It provides a flexible and expressive way to modify or derive new columns based on existing ones. With withColumn , you can apply transformations, perform computations, or create complex expressions to augment your data.

**Adding a New Column link to this section**

To add a new column using withColumn , you need to specify the name of the new column and the transformation or computation you want to apply.

In [ ]:
from pyspark.sql.functions import when,lit, col, current_timestamp, input_file_name

dfWithNewColumn = df.withColumn("lot", when(col("Quantity") >= 100, "a lot").otherwise("not a lot"))

dfWithNewColumn.show(5,0)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Quantity` cannot be resolved. Did you mean one of the following? [`City`, `Latitude`, `State`, `Zip`, `DST`].;
'Project [City#257, State#258, Zip#259, Latitude#260, Longitude#261, Timezone#262, DST#263, CASE WHEN ('Quantity >= 100) THEN a lot ELSE not a lot END AS lot#1501]
+- Relation [City#257,State#258,Zip#259,Latitude#260,Longitude#261,Timezone#262,DST#263] csv

**Replacing an Existing Column link to this section**

withColumn can also be used to replace an existing column in a DataFrame

In [ ]:
from pyspark.sql.functions import upper

dfWithUppercaseName = df.withColumn("CustomerName", upper(col("CustomerName")))
dfWithUppercaseName.show(3)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `CustomerName` cannot be resolved. Did you mean one of the following? [`State`, `Timezone`, `City`, `Latitude`, `Longitude`].;
'Project [City#488, State#489, Zip#490, Latitude#491, Longitude#492, Timezone#493, DST#494, upper('CustomerName) AS CustomerName#1135]
+- Relation [City#488,State#489,Zip#490,Latitude#491,Longitude#492,Timezone#493,DST#494] csv

In [ ]:
from pyspark.sql.functions import lower

dfWithLowercaseName = df.withColumn("CustomerName", lower(col("CustomerName")))
dfWithLowercaseName.show(3)

In [ ]:
from pyspark.sql.functions import initcap

dfWithInitcapcaseName = df.withColumn("CustomerName", initcap(col("CustomerName")))
dfWithInitcapcaseName.show(3)

#### Dropping columns

In [ ]:
df_pyspark = df
df_pyspark = df_pyspark.drop("Email")
df_pyspark.show(5)

#### Using functions

[Pyspark Function](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html)

In [ ]:
from pyspark.sql.functions import when,lit, col, current_timestamp, input_file_name

 # Add columns IsFlagged, CreatedTS and ModifiedTS
df = df.withColumn("FileName", input_file_name())

df.show(5,0)

In [ ]:
#df =df.withColumn("CreatedTS", current_timestamp()).withColumn("ModifiedTS", current_timestamp())

In [ ]:
# Add specific columns

df =df.withColumn("CreatedTS", current_timestamp())
df =df.withColumn("ModifiedTS", current_timestamp())

df.show(3,0)

In [ ]:
desired_column=df.columns[-5:]

In [ ]:
type(desired_column)

In [ ]:
print(desired_column)

In [ ]:
df.select(df.columns[-5:]).show(3,0)

In [ ]:
df.select("CustomerName").show(5,0)

In [ ]:
#df.where(df.CustomerName.isNotNull()).show(10,0)
#df.where(df.CustomerName.isNotNull()).count()

In [ ]:
df.where(df.CustomerName.isNull()).show(10,0)

In [ ]:
df.where(df.CustomerName.isNull()).count()

In [ ]:
df.filter(df.CustomerName == "").show(1)
df.filter(df.CustomerName == "").count()

In [ ]:
df.filter(df.CustomerName != "").show(1)
df.filter(df.CustomerName != "").count()

In [ ]:
from pyspark.sql.functions import when,lit, col, current_timestamp, input_file_name

# Update CustomerName to "Unknown" if CustomerName null or empty
dfnew2 = df.withColumn("CustomerName", when(col("CustomerName").isNull(),lit("Unknown")).otherwise(col("CustomerName")))

dfnew2.show(3)

### CLEANING DATA

#### Handle null values

In [ ]:
df.show(5)

+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|  CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43701|                   1|2019-07-01|          null|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43704|                   1|2019-07-01|    Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43705|                   1|2019-07-01|     Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43700|                   1|2019-07-01|  Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43703|                   1|2019-07-01|Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [ ]:
# Drop rows with null values in the "age" column
df_filtered = df.filter(col("CustomerName").isNotNull())

# Show the resulting DataFrame
df_filtered.show(5)

+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|  CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43704|                   1|2019-07-01|    Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43705|                   1|2019-07-01|     Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43700|                   1|2019-07-01|  Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43703|                   1|2019-07-01|Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
|         SO43697|                   1|2019-07-01|   Cole Watson|cole1@adventure-w...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:11:...|2024-04-03 18:11:...|
+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 5 rows

#### Handle missing values

In [ ]:
df_pyspark = df
df_pyspark.show(10)

+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|    CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43701|                   1|2019-07-01|            null|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43704|                   1|2019-07-01|      Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43705|                   1|2019-07-01|       Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43700|                   1|2019-07-01|    Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43703|                   1|2019-07-01|  Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43697|                   1|2019-07-01|     Cole Watson|cole1@adventure-w...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43699|                   1|2019-07-01|   Sydney Wright|sydney61@adventur...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43702|                   1|2019-07-01|     Colin Anand|colin45@adventure...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43698|                   1|2019-07-01|Rachael Martinez|rachael16@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
|         SO43707|                   1|2019-07-02|      Emma Brown|emma3@adventure-w...|    Road-150 Red, 48|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:12:...|2024-04-03 18:12:...|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 10 rows

#### Remove null value

In [ ]:
df_pyspark.na.drop().show(10)

+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|    CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43704|                   1|2019-07-01|      Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43705|                   1|2019-07-01|       Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43700|                   1|2019-07-01|    Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43703|                   1|2019-07-01|  Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43697|                   1|2019-07-01|     Cole Watson|cole1@adventure-w...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43699|                   1|2019-07-01|   Sydney Wright|sydney61@adventur...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43702|                   1|2019-07-01|     Colin Anand|colin45@adventure...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43698|                   1|2019-07-01|Rachael Martinez|rachael16@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43707|                   1|2019-07-02|      Emma Brown|emma3@adventure-w...|    Road-150 Red, 48|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
|         SO43711|                   1|2019-07-02|Courtney Edwards|courtney1@adventu...|    Road-150 Red, 56|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:13:...|2024-04-03 18:13:...|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 10 rows

#### Filling null values

In [ ]:
df_pyspark.na.fill("Missing").show()

+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|    CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43701|                   1|2019-07-01|         Missing|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43704|                   1|2019-07-01|      Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43705|                   1|2019-07-01|       Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43700|                   1|2019-07-01|    Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43703|                   1|2019-07-01|  Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43697|                   1|2019-07-01|     Cole Watson|cole1@adventure-w...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43699|                   1|2019-07-01|   Sydney Wright|sydney61@adventur...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43702|                   1|2019-07-01|     Colin Anand|colin45@adventure...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43698|                   1|2019-07-01|Rachael Martinez|rachael16@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43707|                   1|2019-07-02|      Emma Brown|emma3@adventure-w...|    Road-150 Red, 48|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43711|                   1|2019-07-02|Courtney Edwards|courtney1@adventu...|    Road-150 Red, 56|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43706|                   1|2019-07-02|    Edward Brown|edward26@adventur...|    Road-150 Red, 48|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43708|                   1|2019-07-02|       Brad Deng|brad2@adventure-w...|    Road-650 Red, 52|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43709|                   1|2019-07-02|       Martha Xu|martha12@adventur...|    Road-150 Red, 52|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43710|                   1|2019-07-02|         Missing|katrina20@adventu...|    Road-150 Red, 56|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43712|                   1|2019-07-02|            null|abigail73@adventu...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43720|                   1|2019-07-03| Melanie Sanchez|melanie47@adventu...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43721|                   1|2019-07-03|       Louis Xie|louis20@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43714|                   1|2019-07-03|  Latasha Alonso|latasha8@adventur...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
|         SO43715|                   1|2019-07-03|      Warren Jai|warren42@adventur...|    Road-150 Red, 56|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:14:...|2024-04-03 18:14:...|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 20 rows

### USING SQL

In [ ]:
df.show(10)

+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|    CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43701|                   1|2019-07-01|            null|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43704|                   1|2019-07-01|      Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43705|                   1|2019-07-01|       Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43700|                   1|2019-07-01|    Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43703|                   1|2019-07-01|  Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43697|                   1|2019-07-01|     Cole Watson|cole1@adventure-w...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43699|                   1|2019-07-01|   Sydney Wright|sydney61@adventur...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43702|                   1|2019-07-01|     Colin Anand|colin45@adventure...|    Road-150 Red, 44|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43698|                   1|2019-07-01|Rachael Martinez|rachael16@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
|         SO43707|                   1|2019-07-02|      Emma Brown|emma3@adventure-w...|    Road-150 Red, 48|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:16:...|2024-04-03 18:16:...|
+----------------+--------------------+----------+----------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 10 rows

In [ ]:
## Assuming you have a PySpark DataFrame named "df"
df.createOrReplaceTempView("customerdata")

In [ ]:
# SQL Select query
spark.sql("SELECT *  FROM customerdata").show(5)

+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|SalesOrderNumber|SalesOrderLineNumber| OrderDate|  CustomerName|               Email|                Item|Quantity|UnitPrice|     Tax|            FileName|           CreatedTS|          ModifiedTS|
+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
|         SO43701|                   1|2019-07-01|          null|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:17:...|2024-04-03 18:17:...|
|         SO43704|                   1|2019-07-01|    Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99|269.9992|file:///C:/Users/...|2024-04-03 18:17:...|2024-04-03 18:17:...|
|         SO43705|                   1|2019-07-01|     Curtis Lu|curtis9@adventure...|Mountain-100 Silv...|       1|  3399.99|271.9992|file:///C:/Users/...|2024-04-03 18:17:...|2024-04-03 18:17:...|
|         SO43700|                   1|2019-07-01|  Ruben Prasad|ruben10@adventure...|  Road-650 Black, 62|       1| 699.0982| 55.9279|file:///C:/Users/...|2024-04-03 18:17:...|2024-04-03 18:17:...|
|         SO43703|                   1|2019-07-01|Albert Alvarez|albert7@adventure...|    Road-150 Red, 62|       1|  3578.27|286.2616|file:///C:/Users/...|2024-04-03 18:17:...|2024-04-03 18:17:...|
+----------------+--------------------+----------+--------------+--------------------+--------------------+--------+---------+--------+--------------------+--------------------+--------------------+
only showing top 5 rows

##### FULL COMPARISON

In [ ]:
# Import
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [ ]:

# Create DataFrame
df = spark.read \
          .option("header",True) \
          .csv("./simple-zipcodes.csv")
df.printSchema()
df.show()

root
 |-- RecordNumber: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- State: string (nullable = true)

+------------+-------+-------------------+-------+-----+
|RecordNumber|Country|               City|Zipcode|State|
+------------+-------+-------------------+-------+-----+
|           1|     US|        PARC PARQUE|    704|   PR|
|           2|     US|PASEO COSTA DEL SUR|    704|   PR|
|          10|     US|       BDA SAN LUIS|    709|   PR|
|       49347|     US|               HOLT|  32564|   FL|
|       49348|     US|          HOMOSASSA|  34487|   FL|
|       61391|     US|  CINGULAR WIRELESS|  76166|   TX|
|       61392|     US|         FORT WORTH|  76177|   TX|
|       61393|     US|           FT WORTH|  76177|   TX|
|       54356|     US|        SPRUCE PINE|  35585|   AL|
|       76511|     US|           ASH HILL|  27007|   NC|
|           4|     US|    URB EUGENE RICE|    704|   PR|
|       39827|     US|               MESA|  85209|   AZ|
|       39828|     US|               MESA|  85210|   AZ|
|       49345|     US|           HILLIARD|  32046|   FL|
|       49346|     US|             HOLDER|  34445|   FL|
|           3|     US|      SECT LANAUSSE|    704|   PR|
|       54354|     US|      SPRING GARDEN|  36275|   AL|
|       54355|     US|        SPRINGVILLE|  35146|   AL|
|       76512|     US|           ASHEBORO|  27203|   NC|
|       76513|     US|           ASHEBORO|  27204|   NC|
+------------+-------+-------------------+-------+-----+

In [ ]:
# Create SQL table
spark.read \
          .option("header",True) \
          .csv("./simple-zipcodes.csv") \
          .createOrReplaceTempView("Zipcodes")

In [ ]:
# Select query
df.select("country","city","zipcode","state").show(5)

spark.sql("SELECT country, city, zipcode, state FROM ZIPCODES").show(5)

+-------+-------------------+-------+-----+
|country|               city|zipcode|state|
+-------+-------------------+-------+-----+
|     US|        PARC PARQUE|    704|   PR|
|     US|PASEO COSTA DEL SUR|    704|   PR|
|     US|       BDA SAN LUIS|    709|   PR|
|     US|               HOLT|  32564|   FL|
|     US|          HOMOSASSA|  34487|   FL|
+-------+-------------------+-------+-----+
only showing top 5 rows

+-------+-------------------+-------+-----+
|country|               city|zipcode|state|
+-------+-------------------+-------+-----+
|     US|        PARC PARQUE|    704|   PR|
|     US|PASEO COSTA DEL SUR|    704|   PR|
|     US|       BDA SAN LUIS|    709|   PR|
|     US|               HOLT|  32564|   FL|
|     US|          HOMOSASSA|  34487|   FL|
+-------+-------------------+-------+-----+
only showing top 5 rows

In [ ]:
# where
df.select("country","city","zipcode","state") \
  .where("state == 'AZ'") \
  .show(5)

spark.sql(""" SELECT country, city, zipcode, state FROM ZIPCODES
          WHERE state = 'AZ' """) \
     .show(5)

+-------+----+-------+-----+
|country|city|zipcode|state|
+-------+----+-------+-----+
|     US|MESA|  85209|   AZ|
|     US|MESA|  85210|   AZ|
+-------+----+-------+-----+

+-------+----+-------+-----+
|country|city|zipcode|state|
+-------+----+-------+-----+
|     US|MESA|  85209|   AZ|
|     US|MESA|  85210|   AZ|
+-------+----+-------+-----+

In [ ]:
# sorting
df.select("country","city","zipcode","state") \
  .where("state in ('PR','AZ','FL')") \
  .orderBy("state") \
  .show(10)

spark.sql(""" SELECT  country, city, zipcode, state FROM ZIPCODES
          WHERE state in ('PR','AZ','FL') order by state """) \
     .show(10)

+-------+-------------------+-------+-----+
|country|               city|zipcode|state|
+-------+-------------------+-------+-----+
|     US|               MESA|  85209|   AZ|
|     US|               MESA|  85210|   AZ|
|     US|               HOLT|  32564|   FL|
|     US|          HOMOSASSA|  34487|   FL|
|     US|           HILLIARD|  32046|   FL|
|     US|             HOLDER|  34445|   FL|
|     US|        PARC PARQUE|    704|   PR|
|     US|PASEO COSTA DEL SUR|    704|   PR|
|     US|       BDA SAN LUIS|    709|   PR|
|     US|    URB EUGENE RICE|    704|   PR|
+-------+-------------------+-------+-----+
only showing top 10 rows

+-------+-------------------+-------+-----+
|country|               city|zipcode|state|
+-------+-------------------+-------+-----+
|     US|               MESA|  85209|   AZ|
|     US|               MESA|  85210|   AZ|
|     US|               HOLT|  32564|   FL|
|     US|          HOMOSASSA|  34487|   FL|
|     US|           HILLIARD|  32046|   FL|
|     US|             HOLDER|  34445|   FL|
|     US|        PARC PARQUE|    704|   PR|
|     US|PASEO COSTA DEL SUR|    704|   PR|
|     US|       BDA SAN LUIS|    709|   PR|
|     US|    URB EUGENE RICE|    704|   PR|
+-------+-------------------+-------+-----+
only showing top 10 rows

In [ ]:
# grouping
df.groupBy("state").count() \
  .show()

spark.sql(""" SELECT state, count(*) as count FROM ZIPCODES
          GROUP BY state""") \
     .show()

+-----+-----+
|state|count|
+-----+-----+
|   AZ|    2|
|   NC|    3|
|   AL|    3|
|   TX|    3|
|   FL|    4|
|   PR|    5|
+-----+-----+

+-----+-----+
|state|count|
+-----+-----+
|   AZ|    2|
|   NC|    3|
|   AL|    3|
|   TX|    3|
|   FL|    4|
|   PR|    5|
+-----+-----+

### Query catalog

In [ ]:
spark.catalog.currentCatalog()

'spark_catalog'

In [ ]:
spark.catalog.currentDatabase()

'default'

In [ ]:
spark.catalog.listCatalogs()

[CatalogMetadata(name='spark_catalog', description=None)]

In [ ]:
spark.catalog.listDatabases()

[Database(name='default', catalog='spark_catalog', description='default database', locationUri='file:/C:/Users/gdardia/data/spark-warehouse')]

In [ ]:
spark.catalog.listTables("default")

[Table(name='customerdata', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='Zipcodes', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]